.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0; /* Light grey background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007bff; /* League of Legends blue */
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

body {
    font-family: 'Oswald', sans-serif; /* Use Oswald font */
}

body {
    background-image: url('/static/new_image.jpg');
    background-size: cover;
    background-position: center;
    height: 300vh; /* or a specific value in pixels */
}

